<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.qi4j.android.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--
        There's a bug with the Android 4.4 emulator that prevent rotating it.
        See https://code.google.com/p/android/issues/detail?id=61671
        You can force the activity android:screenOrientation to landscape as a workaround.
        -->
        <activity
            android:name="org.qi4j.android.app.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
